@import url('https://fonts.googleapis.com/css2?family=Ovo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Muli', sans-serif;
  
}
.navbar{
  background-color: #fff !important;
  color: #fff !important;
}
.navbar-brand{
  font-size: 1.9rem !important;
  color: #565387 !important;

}
.navbar a{
  font-size: 1.3rem;
  text-transform: capitalize;
}
.menu_active{
  font-weight: bold;
  border-bottom: 1px solid #565387;
}
.navbar a:hover{
  color: #3498db !important;
}
.brand-name{
  color: #3498db;
}
.section-div{
  /* display: flex;
  align-items: center; */
  /* margin-top: 100px; */
}
#header{
  width: 100%;
  height: 80vh;
  margin-top: 0px;
}
#header h1{
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  color: black;
}
#header h2{
  color: #484848;
  font-size: 24px;
}
#header .btn-get-started{
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px;
  border-radius: 50px;
  transition: 0.5s;
  color: #3498db;
  border: 2px solid  #3498db;
  text-decoration: none;
}
#header .btn-get-started:hover{
  background-color: #3498db;
  color: #fff;
}
.header-img{
  text-align: right;
}
img{
  width: 70vh;
}
#header .animated{
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}
@keyframes up-down{
  0%{
    transform: translateY(10px);
  }
  100%{
    transform: translateY(-10px);
  }
}
@-webkit-keyframes up-down{
  0%{
    transform: translateY(10px);
  }
  100%{
    transform: translateY(-10px);
  }
}
@media (max-width:780px){
  #header{
    width: 100%;
    height: 80vh;
    margin-top: 170px;
    
  }

}
.social-container {
  background: #eee;
  padding: 25px 50px;
}
a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}
a.social:hover {
  transform: translateY(-2px);
}
a.youtube {
  color: #eb3223;
}

a.facebook {
  color: #4968ad;
}

a.twitter {
  color: #49a1eb;
}

a.instagram {
  color: black;
}
.social{
  margin-top: 120px;
}


body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #000;
}
.content{
  position: relative;
}
.content h2{
  position: absolute;
  transform: translate(-50%,-50%);
  font-size: 8em;
  font-family: 'Poppins', sans-serif;
}
.content h2:nth-child(1){
  color: transparent;
  -webkit-text-stroke: 2px #03a9f4;
}
.content h2:nth-child(2){
  color: #03a9f4;
  animation: animate 4s ease-in-out infinite;
}
@keyframes animate{
  0%,100%{
      clip-path: polygon(0 48%, 13% 46%, 29% 50%, 43% 56%, 57% 59%, 72% 59%, 90% 55%, 99% 50%, 99% 99%, 0% 99%);
  }
  50%{
      clip-path: polygon(0 42%, 15% 54%, 30% 59%, 44% 59%, 57% 56%, 73% 48%, 85% 44%, 100% 45%, 99% 99%, 0% 99%);

  }
}
@media only screen and (max-width: 600px){
  .content h2{
      font-size: 5em;
  }
  
}